<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Foreign Exchange Calculator</title>

       
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
         <script src="js/app.js"></script>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 

    </head>
    
   
    <body class="container" ng-app="feCalculator" ng-controller="mainController as main">
  <div class="row">
	<div class="col-xs-5 col-sm-5 col-md-5 col-md-offset-3">
 	<div class="panel panel-primary">
  <div class="panel-heading" style=""> <h4>Foreign Exchange Calculator</h4></div>
  	<div class="panel-body" >
     
     <form action="" method="POST">
     
     
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
       <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter amount" ng-model="fromValue" ng-change="convertFrom()">
       </div> 
      </div>


      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
       <div class="form-group">
         <select ng-model="source" class="form-control" required ng-change="convertFrom()" ng-options="currency.description for currency in main.currencies">
          <option value="">-Select-</option>
         </select>         
       </div> 
      </div>

       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
       <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter amount" ng-model="toValue" ng-change="convertTo()">
       </div> 
      </div>


      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
       <div class="form-group">
         <select 
          ng-model="target" class="form-control" required  ng-change="convertFrom()" ng-options="currency.description for currency in main.currencies">
          <option value="">-Select-</option>
         </select>
       </div> 
      </div>
      
     <div id="msg" style="color:red" ng-model="message">{{message}}</div>
      
     </form>
  </div>
 </div> 
</div>
</div>


    </body>
</html>
